DATABASE_URL="postgresql://user:password@localhost:5432/one"
REDIS_URL="redis://localhost:6379"

SESSION_SECRET="change-me-to-at-least-32-characters-long-random-string"
JWT_SECRET="change-me-to-another-32-characters-long-random-string"

CORS_ORIGIN="http://localhost:3000"

# LiveKit
LIVEKIT_URL=http://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret"

